html {
    background-color: slategray;
    font-family: 'JetBrains Mono'; font-size: 16px;
}

.time {
    font-size: 22px;
    text-align: center;
}

.greeting_and_date {
    text-align: center;

}

#date {
    font-size: 12px;
    padding-left: 20px;
}

#spot1, #spot2, #spot3 {
    text-align: center;
}

.buttons {
    text-align: center;
}

#logo {
    justify-content: left;
}


.time_button, .control_button, .break_button, .start_session {
   appearance: none;
   backface-visibility: hidden;
   background-color: #ffd433;
   border-radius: 8px;
   border-style: none;
   box-shadow: rgb(218, 180, 38) 0 4px 9px;
   box-sizing: border-box;
   color: #030303;
   cursor: pointer;
   display: inline-block;
   font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
   font-size: 16px;
   font-weight: 600;
   letter-spacing: normal;
   line-height: 1.0;
   outline: none;
   overflow: hidden;
   padding: 13px 20px;
   position: relative;
   text-align: center;
   text-decoration: none;
   transform: translate3d(0, 0, 0);
   transition: all .3s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: top;
   white-space: nowrap;
}

.time_button:hover, .control_button:hover, .break_button:hover, .start_session {
    background-color: #f8d655;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;

}

.time_button:active, .control_button:active, .break_button:active, .start_session {
    transform: translateY(2px);
    transition-duration: .35s;
}

#progressBar {
    width: 75%;
    margin: 10px auto;
    height: 22px;
    background-color: #100f08;
    display:none;

}

#progressBar div {
    height: 100%;
    text-align: right;
    padding: 0 10px;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #ffd433;
    box-sizing: border-box;
}

.control_button, .break_button {
    display: none;
}

#label2, #study_again_button, #label3 {
    display: none;
}






